.userAvatar {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
}

.photo-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.2s;
}

.photo-nav:hover {
    background: rgba(255, 255, 255, 0.8);
}

.prev-photo {
    left: 15px;
}

.next-photo {
    right: 15px;
}

.photo-indicators {
    position: absolute;
    background: rgba(52, 52, 52, 0.6);
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;
    z-index: 10;
}

.indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background: white;
    width: 10px;
    height: 10px;
}

.card {
    background: #e8e3d4;
}

.relative-parent {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.swipe-buttons-container{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    gap: 4rem;
}

.floating-button {
    background-color: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.39);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    transition: filter 0.3s ease-in-out;
}

.floating-button:hover {
    filter: brightness(.9);
}

#profile-card {
    height: calc(100% - 60px);
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    user-select: none;
    cursor: grab;
}

#swipe-left {
    background: #9f1616;
    color: white;
}

#swipe-right {
    background: #11803e;
    color: white;
}

#profile-card:active {
    cursor: grabbing;
}

.match-alert {
    z-index: 1000;
    animation: fadeIn 0.3s;
}

#darkGradientLayer {
    background: linear-gradient(to top, rgba(0, 0, 0, .9) 10%, rgba(0, 0, 0, .5) 75%);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}