.chatBox {
    max-height: 90% !important;
    width: 100% !important;
    color: black;
}

#chatContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 60vh !important;
    max-height: 60vh;
}

.message  {
    white-space: pre;
    border-radius: 20px;
    max-width: 80%;
    display: inline-block;
    margin-bottom: 3px;
    text-wrap: wrap;
}

.message.received {
    background-color: #e5e5ea;
    color: black;
    margin-right: auto;
}

.message.sent {
    background-color: #0084ff;
    color: white;
    margin-left: auto;
}

.message-text {
    min-height: 1em;
    max-height: 97px;
    width: 100%;
    align-content: center;
    outline: none;
    overflow: hidden;
    border-radius: 20px;
    background-color: #eeeeee;
}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: #555;
}

[placeholder]:empty:focus::before {
    content: "";
}
