@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --bgColor: linear-gradient(45deg, #ea3660, #d54d09) !important;
    --textColor: #ffffff;
    --lightTextColor: #747474;
    --cardBgColor: white;
    --inputColor: #ababab;
    --themeColor: #dc391c;
    font-weight: 400;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--bgColor);
    color: var(--textColor);
    transition: .3s all;
}

.card {
    background: var(--cardBgColor);
    color: var(--textColor);
}

.fw-black {
    font-weight: 900 !important;
}

.text-theme {
    color: var(--themeColor);
}

.bg-theme {
    background: var(--themeColor);
}

.border-theme {
    border-color: var(--themeColor);
}

.chatField:hover {
    transition: background-color 0.3s ease;
    background-color: #e3e3e3;
}

.chatAvatar {
    height: 100%;
    aspect-ratio : 1 / 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
}