<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Heartbeat | Find your perfect half</title>
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center h-100">
            <div class="col-12 col-md-9 d-flex">
                <div class="card w-100 border-0 shadow rounded-4 position-relative my-auto" id="profile-card">
                    <div class="swipe-buttons-container">
                        <button id="swipe-left" class="border-0 rounded-circle floating-button floating-left">
                            <i class="bi bi-x-lg text-danger fs-3"></i>
                        </button>
                        <button id="swipe-right" class="border-0 rounded-circle floating-button floating-right">
                            <i class="bi bi-heart-fill text-success fs-3"></i>
                        </button>
                    </div>
                    <div class="card-body overflow-hidden rounded-4 p-0 container-fluid d-flex">
                        <div class="row flex-grow-1 d-flex">
                            <div
                                    style="background-image: url('https://picsum.photos/1000')"
                                    class="col-12 col-lg-6 p-0 userAvatar"
                            ></div>
                            <div class="col-12 col-lg-6">
                                <div class="text-dark p-4 d-md-flex flex-column justify-content-center h-100">
                                    <h3 class="h2 mb-0 fw-bold"><span id="name">Name</span>, <span id="age">27</span></h3>
                                    <div class="mb-1">
                                        <span class="badge bg-secondary text-light" id="height">-1 cm</span>
                                        <span class="badge bg-success text-light" id="religion">Religion</span>
                                    </div>
                                    <div class="small mb-1" id="education">Studying at <span class="fw-bold" >Random School</span></div>
                                    <div class="small mb-1" id="occupation">Working at <span class="fw-bold">Random Company</span></div>
                                    <div class="my-3">
                                        <div class="fw-bold small">About me</div>
                                        <p id="bio">Bio should be here</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>